{% include 'header.html' %}

{% block content %}
  <h1>О нас</h1>
  <div>
    <p>О компании
      «OMEGA SPORT» предлагает большой выбор спортивных товаров для занятий спортом. В каталоге представлены лучшие виды спортивного инвентаря с фотографиями и описанием Мы готовы предложить Вам широкий ассортимент спортивных товаров для: футбола, фитнеса, бокса, гимнастики, тенниса, баскетбола, плавания и единоборств, для бокса, каратэ, дзю-до, и других видов спорта. Штанги, гантели, гири, грифы и многое другое.
      Мы осуществляем отправку вашей покупки в Бишкек и областные центры Кыргызстана. Для заказа вам необходимо просто положить необходимый товар в корзину и заполнить все необходимые поля. В кратчайшие сроки менеджер нашего спортивного интернет-магазина свяжется с Вами, чтобы уточнить  детали заказа и способ доставки. Таким образом, Вы экономите Ваше время, поэтому Вам нет надобности идти или ехать в магазин. Вы можете осуществлять покупки как оптом, так и в розницу.
      Занятия спортом – одна из самых важных частей нашей жизни, потому что спорт закаляет не только тело, но и дух. Позаботьтесь о себе, а наш магазин позаботится о том, чтобы ваши занятия спортом были максимально удобными, комфортными и безопасными.
    </p>
    <img src="https://omegasport.kg/image/cache/catalog/000/2102-980x430.jpg" alt="Фото магазина">
  </div>
{% endblock %}

{% include 'footer.html' %}
