{% include 'header.html' %}


{% block content %}
  <h1>{{ product.name }}</h1>
  <img src="{{ product.image.url }}" alt="{{ product.name }}">
  <p>{{ product.description }}</p>
  <p>Цена: {{ product.price }} руб.</p>
  <p>Рейтинг: {{ product.rating }}</p>
  <h2>Отзывы</h2>
  <ul>
    {% for review in reviews %}
      <li>{{ review.author }}: {{ review.rating }} - {{ review.text }}</li>
    {% endfor %}
  </ul>
  <a href="{% url 'catalog:add_review' product.pk %}">Добавить отзыв</a>

{% endblock %}

{% include 'footer.html' %}
