{% include 'header.html' %}


{% block content %}
  <h1>{{ product.name }}</h1>
  <img src="{{ product.image.url }}" alt="{{ product.name }}">
  <p>{{ product.description }}</p>
  <p>Цена: {{ product.price }} руб.</p>
  <p>Рейтинг: {{ product.rating }}</p>
  <h2>Отзывы</h2>
  <ul>
    {% for review in reviews %}
      <li>{{ review.author }}: {{ review.rating }} - {{ review.text }}</li>
    {% endfor %}
  </ul>
  <a href="{% url 'catalog:add_review' product.pk %}">Добавить отзыв</a>

  <h2>Добавить в корзину</h2>
  <form method="post" action="{% url 'catalog:add_to_basket' product.pk %}">
    {% csrf_token %}
    {{ basket_form.as_p }}
    <button type="submit">Добавить</button>
  </form>
{% endblock %}

{% include 'footer.html' %}
